/* Colores */

$c_00: #333;
$c_01: #999;
$c_02: #ddd;
$c_10: #fff;
$c_11: #fefefe;
$c_20: #e95;

/* Variables */
$page-w: 800px;

/* Mixins */

@mixin card-shadow( $color, $opacidad: 0.3) {
  box-shadow: 2px 2px 6px 0px  rgba($color, $opacidad);
}

@mixin btn( $color, $bg) {
    cursor: pointer;
    background-color: $bg;
    border: none;
    color: $color;
    padding: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1.15px;
}

/* Estilos generales */
body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: $c_11;
  color: $c_00;
}

h1{
  font-size: 2.1rem;
}

h2{
  font-size: 1.8rem;
  font-weight: lighter;
}

main {
  max-width: $page-w;
  margin: 0 auto;
}
